alembic==1.4.2
blue==0.7.0
fastapi-mail==1.0.8
fastapi==0.75.1
ipdb==0.13.9
pip-compile-multi==2.4.5
pre-commit==2.18.1
prospector==1.6.0
psycopg2-binary==2.9.3
pytest-trio==0.7.0
pytest-vcr==1.0.2
pytest==7.1.1
python-decouple==3.6
requests==2.27.1
sqlalchemy==1.4.35
tqdm==4.64.0
trio==0.20.0
uvicorn==0.17.6
